.site-wrap {
	padding: 1.5em 0;
	border-top: 1px solid #FFF;
	background: #e9e7e6;
}
#content-wrap {
	margin: 0 auto;
	padding: .8em 0;
	width: 810px;
}

.container {
	width: 790px;
	margin: 0 auto;
	display: block;
}
.post-site-wrap {
	padding: 1.5em 0;
	border-top: 1px solid #FFF;
	background: #e9e7e6;
}
#post-content-wrap {
	margin: 0 auto;
	padding: .8em 0;
	width: 1040px;
}

.post-container {
	width: 1020px;
	margin: 0 auto;
	display: block;
}
.post-container:after,.container:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}

.column,div.span-1,div.span-2,div.span-3,div.span-4,div.span-5,div.span-6,div.span-7,div.span-8,div.span-9,div.span-10,div.span-11,div.span-12,div.span-13,div.span-14,div.span-15,div.span-16,div.span-17,div.span-18 {
	float: left;
	margin-right: 10px;
}
div.span-3{
	/*float: left;*/
	margin-right: 0px;
	margin-left: 1.1%;
	background:#1c1c22;
}
.last,div.last {
	margin-right: 0;
}
.span-1{width:30px;}
.span-2{width:70px;}
.span-3{width:15.4%;}
.span-4{width:150px;}
.span-5{width:190px;}
.span-6{width:230px;}
.span-7{width:270px;}
.span-8{width:330px;}
.span-9{width:350px;}
.span-10{width:390px;}
.span-11{width:430px;}
.span-12{width:470px;}
.span-13{width:510px;}
.span-14{width:550px;}
.span-15{width:590px;}
.span-16{width:630px;}
.span-17{width:670px;}
.span-18{width:710px;margin-right:0;}


.gametitle {
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	margin-bottom: 1px;
}
.gamelisttitle {
	font-family: Helvetica, sans-serif;
	font-size: 12%;
	color: #fff;
	margin-bottom: 0%;
	text-overflow: clip;
	overflow: hidden;
	display: block;
	white-space: nowrap;
	width:100%;
	height:100%;
}
.project a:hover {
	text-decoration: none;
	color: #000;
}
.subgametitle {
	color: #4c4c4c;
	font-size: 12px;
	font-family: Helvetica, sans-serif;
}

hr.space {
	border: none;
	margin: 20px 0;
	clear: both;
	width: 100%;
}

.tile {
	border: 1px solid #cac8c6;
	padding: 3px;
	border-radius: 3px;
	display: block;
	margin-bottom: 5px;
	background-color: #FFF;
}
.listtile {
	border: 1px solid #1c1c22;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 0px;
	border-radius: 3px;
	display: block;
	margin-bottom: 0px;
	background-color: #1c1c22;
	width:92%;
	height:92%;
}
a:hover .tile {
	border-color: #3061BE;
	text-decoration: none;
}

.span-3 a {
	border-color: #3061BE;
	text-decoration: none;
}

@media only screen and (min-width: 791px) {
}
@media only screen and (min-width: 320px) and (max-width: 790px) {
	#content-wrap {
	width: 100%;
	}
	.container {
		width: 97.5%;
	}
	.span-5{
		width:22.5%;
	}
	div.span-8{
		width: 100%;
		margin: 2px;
	}
	div.span-8 img{
		clear: both; 
        display: block; 
        margin:auto; 
	}
	.tile{
		width:95%;
		height:95%;
	}
	.gametitle {
		font-size: 0.8em;
		text-overflow: clip;
		overflow: hidden;
		display: block;
		white-space: nowrap;
	}
	.subgametitle{
		display:none;
	}
	#post-content-wrap {
		width: 100%;
	}

	.post-container {
		width: 100%;
	}
}